<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/trips.css">
    <title>GearWise</title>
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center">
      <div>
        <h1 class="greyHeading"><a href="/dashboard"><img src="/images/LogoMakr-7NT913.png" alt="" id="logo"></a></h1>
      </div>
    </header>
      <main class="main">
        {{{ body }}}
      </main>
  </div>
  <script src="https://kit.fontawesome.com/2d96732f52.js" crossorigin="anonymous"></script>  
  </body>
  
</html>