<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {{!-- <script src="jquery-3.5.1.min.js"></script> --}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/trips.css">
  <title>GearWise</title>
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center">
      <div>
        <h1 class="greyHeading"><a href="/dashboard"><img src="/images/LogoMakr-7NT913.png" alt="" id="logo"></a></h1>
      </div>
    </header>
    <main class="main">
      {{{ body }}}
    </main>
  </div>
  <script src="js/script.js"></script>
  <script src="https://kit.fontawesome.com/2d96732f52.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="/db.js"></script>
</body>

</html>