<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/trips.css">
    <title>GearWise</title>
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <div>
        <h1 class="greyHeading"><img src="/images/LogoMakr-7NT913.png" alt="" id="logo"></h1>
      </div>
    </header>
      <main class="container container-fluid mt-5 main">
        {{{ body }}}
      </main>
  </div>
  <script src="https://kit.fontawesome.com/2d96732f52.js" crossorigin="anonymous"></script>  
  </body>
  
</html>