<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>GearWise</title>
  
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <div>
        <h1 class="grey"> GearWise  ®</h1>
      </div>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>
  
</html>