<head>
    <link rel="stylesheet" href="css/dash.css">
</head>

<div id="main-container">

    <div id="side-nav">
        <ul class="side-bar">
            <li><a href="/trips">Trips</a></li>
            <button id='logoutbtn'>Logout</button>
        </ul>
    </div>


    <div class="dashmain">
        <div class="dash-heading">
            <h2 class="title">Welcome to GearWise</h2>
        </div>

        
        <div class="checklist">
            <h3>Gear Bank</h3>
            <br>
            {{#each userGear as |gear|}}
            <div class="gearitem" data-id={{gear.id}}>
                <button class="deletebtn">delete</button>
                <h4>{{gear.general_name}}</h4>
                <h4>{{gear.product_name}}</h4>
                <h4>{{gear.description}}</h4>
                <br>
            </div>
        </div>
        {{/each}}
        <div class="second-box">
            <form id="bag">
            <h4>Add new Gear item to bank</h4>
            <input type="text" name="category" id="category" placeholder="category">
            <br>
            <button id='addCategory'></button>
            <br>
            <input type="text" name="item" id="item" placeholder="item">
            <br>
            <input type="text" name="prodname" id="prodname" placeholder="product name">
            <br>
            <input type="text" name="description" id="description" placeholder="description">
            <br>
            <input type="text" name="weight" id="weight" placeholder="weight">
            <br>
            <input type="text" name="price" id="price" placeholder="price">
            <br>
            <button>Add to pack</button>
            </form>
        </div>
    </div>




        <div class="third-box">
            <form id="tripForm">
            <h3>Start a new trip!</h3>
            <input type="text" name="name" id="name" placeholder="Trip name">
            <br>
            <input type="text" name="location" id="location" placeholder="Trip Location">
            <br>
            <input type="text" name="tripdescription" id="tripdescription" placeholder="Trip Description">
            <br>
            <input type="text" name="startingdate" id="startingdate" placeholder="Starting Date: YYYY/MM/DD">
            <br>
            <input type="text" name="distance" id="distance" placeholder="Distance (miles)">
            <br>
            <button>Save Trip</button>
            </form>
                <h3>Trip Loadout</h3>
                <ol class="currentTripGear"></ol>
        </div>

        <div class="piechart-container">
            <div id="piechart"></div>
        </div>






<script src="js/dashscript.js"></script>