<br>
<br>
<h1 class="center switchColor">Login/Signup to be GearWise !!</h1>
<br>
<br>
<br>
<br>
<h3 class="center switchColor">Login:</h3>
<form id="loginForm">
    <input type="text" name="email" id='loginEmail' placeholder="email"/>
    <br>
    <input type="password" name="password" id='loginPassword'  placeholder="password"/>
    <br>
    <button>Login</button>
</form>
<br>
<br>
<br>
<br>
<h3 class="center switchColor">signup:</h3>
<form id="signupForm">
    <input type="text" name="username" id='signupUsername' placeholder="username"/>
    <br>
    <input type="text" name="email" id='signupEmail' placeholder="email"/>
    <br>
    <input type="password" name="password" id='signupPassword' placeholder="password"/>
    <br>
    <button>Signup</button>
</form>


<script src="js/script.js"></script>
