<form id="loginForm">
    <button class="indexBtn">Login</button>
    <input type="text" name="email" id='loginEmail' placeholder="email"/>
    <input type="password" name="password" id='loginPassword'  placeholder="password"/>
    
</form>
<div class="image">
<br>
<br>
<br>
<h1 class="center switchColor">Login/Signup to be GearWise !!</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 class="center switchColor">signup:</h3>
<form id="signupForm">
    <input type="text" name="username" id='signupUsername' placeholder="username"/>
    <input type="text" name="email" id='signupEmail' placeholder="email"/>
    <input type="password" name="password" id='signupPassword' placeholder="password"/>

</form>
</div>
<script src="js/script.js"></script>

