<form id="loginForm">
    
    <input type="text" class="account-text" name="email" id='loginEmail' placeholder="email"/>
    <input type="password" class="account-text" name="password" id='loginPassword'  placeholder="password"/>
    <button class="indexBtn loginbtn btn">Login</button>
</form>
<div class="image">
<br>
<br>
<br>
<h1 class="center switchColor">Welcome to GearWise!</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 class="center switchColor signup">signup</h3>
<form id="signupForm">
    <input type="text" class="account-text" name="username" id='signupUsername' placeholder="username"/>
    <input type="text" class="account-text" name="email" id='signupEmail' placeholder="email"/>
    <input type="password" class="account-text" name="password" id='signupPassword' placeholder="password"/>
    <button class="indexBtn btn">Sign up</button>
</form>
</div>
<script src="js/script.js"></script>

