<form id="loginForm">
    
    <input type="text" class="account-text" name="email" id='loginEmail' placeholder="email"/>
    <input type="password" class="account-text" name="password" id='loginPassword'  placeholder="password"/>
    <button class="indexBtn loginbtn btn">Login</button>
</form>
<div class="image">
<br>
<br class="mobile-hide">
<br class="mobile-hide">
<h1 class="center switchColor mobile-hide">Welcome to GearWise!</h1>
<br class="mobile-hide">
<br class="mobile-hide">
<br class="mobile-hide">
<br class="mobile-hide">
<br class="mobile-hide">
<br class="mobile-hide">
<h3 class="center switchColor signup mobile-hide">signup</h3>
<form id="signupForm">
    <div class="mobile-show new-user justify-content-center mt-2">New User? Register here:</div>
    <input type="text" class="account-text" name="username" id='signupUsername' placeholder="username"/>
    <input type="text" class="account-text" name="email" id='signupEmail' placeholder="email"/>
    <input type="password" class="account-text" name="password" id='signupPassword' placeholder="password"/>
    <button class="indexBtn btn">Sign up</button>
</form>
</div>
<script src="js/script.js"></script>

