<form id="loginForm">
    
    <input type="text" class="account-text form-control" name="email" id='loginEmail' placeholder="email"/>
    <input type="password" class="account-text form-control" name="password" id='loginPassword'  placeholder="password"/>
    <button class="indexBtn loginbtn btn">Login</button>
</form>
<div class="image">
<br>
<br class="mobile-hide">
<br class="mobile-hide">
<h1 class="center switchColor mobile-hide">Welcome to GearWise!</h1>
<br class="mobile-hide">
<br class="mobile-hide">
<br class="mobile-hide">
<br class="mobile-hide">
<br class="mobile-hide">
<br class="mobile-hide">
<form id="signupForm" class="card">
    <div class="new-user justify-content-center card-body">New User? Register here:</div>
    <input type="text" class="account-text form-control" name="username" id='signupUsername' placeholder="username"/>
    <input type="text" class="account-text form-control" name="email" id='signupEmail' placeholder="email"/>
    <input type="password" class="account-text form-control" name="password" id='signupPassword' placeholder="password"/>
    <button class="indexBtn sign-up btn">Sign up</button>
</form>
</div>
<script src="js/script.js"></script>

