<form id="loginForm">

    <input type="text" class="account-text form-control" name="email" id='loginEmail' placeholder="Email" />
    <input type="password" class="account-text form-control" name="password" id='loginPassword'
        placeholder="Password" />
    <button class="indexBtn loginbtn mybtn btn">Login</button>
</form>
<div class="image">
    <br>
    <br class="mobile-hide">
    <br class="mobile-hide">
    <div class="main-title">
        <h1 class="center switchColor mobile-hide">Welcome to GearWise!</h1>
        <p class="motto mobile-hide">Your next outdoor adventure: better, lighter, and smarter.</p>
    </div>
    <br class="mobile-hide">
    <br class="mobile-hide">
    <br class="mobile-hide">
    <br class="mobile-hide">
    <form id="signupForm" class="card">
        <div class="new-user justify-content-center card-body">New User? Register here:</div>
        <input type="text" class="account-text form-control" name="username" id='signupUsername'
            placeholder="Username" />
        <input type="text" class="account-text form-control" name="email" id='signupEmail' placeholder="Email" />
        <input type="password" class="account-text form-control" name="password" id='signupPassword'
            placeholder="Password" />
        <button class="indexBtn sign-up mybtn btn">Sign up</button>
    </form>
</div>