<div id="mainTrips">
    <div id="nav-bar">
        <ul class="navbar">
            <p>Your Trips</p>
            <a href="/dashboard">Dashboard</a>
            <button id='logoutbtn'>Logout</button>
        </ul>
    </div>
  <main id="tripsPage">
    <div class="myTrips">

      {{#each userTrips as |trips|}}
      {{> trips-details}}
      {{/each}}
    </div>
  </main>
</div>

<script src="js/tripscript.js"></script>