<div id="mainTrips">
  <div id="nav-bar">
    <ul class="navbar">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portal/logout">Logout</a>
      </li>
    </ul>
  </div>
  <main id="tripsPage">
    <div class="myTrips">

      {{#each userTrips as |trips|}}
      {{> trips-details}}
      {{/each}}
    </div>
  </main>
</div>

<script src="js/tripscript.js"></script>