*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}


#nav-bar {
    overflow: hidden;
    background-color: #4A4735;
}

.navbar a {
    text-decoration: none;
    font-size: 50px;
    color: #c57a3c;
}

.navbar a:hover {
    color: orange;
}

.navbar p {
    text-align: center;
    font-size: 50px;
    color: #c57a3c;
    display: block;
}

#logoutbtn {
    float: right;
    background-color: orange;
    width: 60px;
    height: 30px;
}


.dashmain {
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: inherit;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.button {
    align-self: flex-start;
}

.dashmain {
    font-size: 28px;
    width: 100%;
}


.second-box {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 2rem 0;
}

#bag {
    text-align: center;
}

#userinput {
    margin: 1.5rem;
    width: 30%;;
}

#closet-inputs, #trip-inputs {
    display: flex;
    flex-wrap: wrap;
}

#trip-inputs {
    padding: 1rem;
    border: 1px solid black;
}

.input-field, .input-field2 {
    margin: .2rem;
}

.input-field2 {
    margin: 1rem 1rem;
}

.closet-button {
    margin: 0.5rem;
}

.new-trip-header {
    text-align: center;
    margin-bottom: 1rem;
}

.save-trip-btn {
    margin: 1rem auto;
}



.gear-bank {
    border: 5px solid darkgray;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 1.5rem 0;
}

.hide {
    display: none;
}

#closetformheader {
    margin: .5rem;
}

.dashboardheader {

}

#bankheader {
    text-align: center;
    text-decoration: underline;
    color: #51646b;
}

#userinput{
    padding-top: 100px;
}

#tripForm {
    padding: 100px;
}

#chartSize {
    padding: 100px;
}


.gearitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem;
    border: 1px solid grey;
    margin: .5rem 0;
    background-color: gainsboro;
    border-radius: 1rem;
    box-shadow: 2px 3px 5px;
}

p#genname {
    text-decoration: underline;
    font-size: 1.5rem
}

p#prodname {
    font-size: 1rem;
    font-style: italic;
    align-self: center;
}

p#bankdescrip {
    font-size: .8rem;
}

p#bankweight {
    font-size: 1rem;
    color: rebeccapurple;
}

.break {
    flex-basis: 100%;
    height: 0;
}

input[list=categories], input[type=text], input[type=datetime-local], input[type=number] {
    width: 90%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    main,
    nav {
    flex-direction: row;
    }
}
