*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

#main-container {
    display:flex;  
    flex-direction: row;
    height: 100vh;
}

#side-nav {
    flex:1;
    max-width: 250px;
    background-color: #b8a6a0;
}

.side-bar a {
    padding: 6px 6px 6px 32px;
    font-size: 30px;
    color: #c57a3c;
    display: block;
}

.side-bar a:hover {
    color: orange;
}

#logoutbtn {
    background-color: lightgray;
}

#body {
    flex:3;
}

.dashmain {
    font-size: 28px;
}


