*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

#mainTrips{
    display: flex;
    flex-direction: column;
}

#tripsPage{
    display: flex;
    flex-wrap: wrap;
}


aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}




.switchColor{
    
    color: #c57a3c;
}

.sameAsHeader{
    background: #51646b;
    color: #c57a3c;
}

.indexBtn{
    background-color: #b8a6a0;
    color: white;
    padding: 2px;
    margin-right: 4px;
    border-radius: 4px;
}



.main{
    height: 100vh;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    background-image: url("/images/Mountian_cover_opacity_lower.JPG");
    background-size: cover;
    height: inherit;
}

.greyHeading{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 15px;
    background: #51646b;
    color: #c57a3c;
}

#signupForm{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#loginForm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #51646b;
}

#loginEmail{
    margin-right: 8px;
}

<<<<<<< HEAD
.white{
    color: #51646b;
}

.tripsBtn{
    background-color: #b8a6a0;
    color: #51646b;
    padding: 10px;
    border-radius: 4px;

}

.tripsH2{
    color: #647c7c;
}

.myTrips{
    flex: 2;
    margin-left: 250px;
}

=======
#main-container {
    display:flex;  
    height: 100vh
}

#side-nav {
    flex:1;
    max-width: 250px;
    background-color: #b8a6a0;
}

.side-bar a {
    padding: 6px 6px 6px 32px;
    font-size: 30px;
    color: #c57a3c;
    display: block;
}

.side-bar a:hover {
    color: orange;
}

#logoutbtn {
    background-color: lightgray;
}


.dashmain {
    margin-left: 250px; 
    font-size: 28px;
    padding: 0px 10px;
}


.first-box {
    order: 1;
    display: flex;
    min-height: 15vh;
}

.second-box {
    order: 2;
    min-height: 15vh;
}

.third-box {
    order: 3;
    min-height: 15vh;
}
>>>>>>> Develop
