*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.account-text {
    font-family: arial;
}

.motto {
    text-align: center;
    color: #c57a3c;
    font-size: 2rem;
}

.main-title {
    padding: 1rem;
    margin: 0rem 10rem;
}
.accordion-button {
    font-size: .8rem;
    padding: .6rem 1rem;
}
.motto {
    font-style: italic;
}

#mainTrips{
    display: flex;
    flex-direction: column;
}

#tripsPage{
    display: flex;
    flex-wrap: wrap;
}

button.deleteTrip.btn {
    position: relative;
    margin-right: auto;
}

button.deleteTrip.btn:hover {
    opacity: .7;
    color: red;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.switchColor{
    will-change: auto;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("https://products.ls.graphics/mesh-gradients/images/14.-Prim_1.jpg");
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: bg 8s cubic-bezier(0.77, 0, 0.175, 1) 2s infinite;

}

@keyframes bg {
    0% {
      background-position: 5% 5%;
    }
    25% {
      background-position: 5% 95%;
      background-size: 250%;
    }
    50% {
      background-position: 95% 95%;
      background-size: 150%;
    }
    75% {
      background-position: 5% 95%;
    }
    100% {
      background-position: 5% 5%;
    }
}

.signup {
    font-size: 2rem;
}

.sameAsHeader{
    background: #51646b;
    color: #c57a3c;
}

.indexBtn{
    background-color: #b8a6a0;
    color: white;
    padding: 2px;
    margin-right: 8px;
    /* width:60px; */
    border-radius: 4px;
}

.indexBtn:hover {
    opacity: .5;
}

button.indexBtn.loginbtn.btn {
    margin: .2rem 1rem;
    margin-left: 0;
    padding: .3rem;
    font-size: smaller;
    width: 4rem;
}


.main{
    height: 100vh;
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    background-image: url("/images/Mountian_cover_opacity_lower.JPG");
    background-size: cover;
    height: inherit;
}

.greyHeading{
    padding-bottom: 20px;
    padding-top: 15px;
    background: #58752B;
    color: #c57a3c;
    text-align: center;
    margin-bottom: 0;
}

#signupForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .4rem;
    width: 20rem;
    margin: 0 auto;
}

.account-text {
    margin: .5rem 2rem;

}

.form-control {
    width: auto;
}

#signupUsername {
    margin-top: 2rem;
}

#loginForm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #51646b;
}

#loginEmail{
    margin-right: 8px;
}


.white{
    color: white;
}

.tripsBtn{
    background-color: #b8a6a0;
    color: white;
    padding: 10px;
    border-radius: 4px;

}

.tripsH2{
    color: #647c7c;
}

.myTrips{
    flex: 2;
    margin-left: 250px;
}
.dash-heading{
    display: flex;
    justify-content: space-between;
}

.fa-hiking{
    height: 5px;
    width: 3px;
}
.btn-loadout {
    color: #c57a3c;
    background-color: #4a4735;
    border-color: #c57a39
}
.btn-loadout:hover {
    color: #4a4735;
    background-color: #c57a39;
    border-color: #4a4735
}
.miles {
    font-style: italic;
}
#logo {
    height: 7rem;
}

.card-title {
    margin: 0;
    font-size: 1.5rem;
}

.gearitem:hover {
    cursor: pointer;
    transform: translateY(0) scale(1.1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

#trip-name{
    background-color: #58752B;
}

#chartSize{
    
    height: 300px;
    width: 300px;
}

.mobile-show {
    display: none;
}

.new-user {
    font-size: larger;
    text-align: center;
}

button.indexBtn.sign-up.btn {
    margin: 1rem;
    font-size: inherit;
}

@media screen and (max-width: 475px) {
    .mobile-show {
        display: flex;
    }
    .account-text {
        margin: 1rem 2rem;
    }
    #loginEmail {
        margin-top: 2rem;
        margin-right: 2rem;
        width: 100%;
    }
    #loginPassword {
        margin-top: 1rem;
        margin-right: 2rem;
        width: 100%;
    }
    .mobile-hide {
        display: none;
    }
    #loginForm {
        flex-wrap: wrap;
    }
    button.indexBtn.loginbtn.btn {
        font-size: smaller;
        width: 4rem;
        margin: .5rem auto;
        margin-bottom: .8rem;
        width: inherit;
        font-size: x-large;
        padding: 0.2rem 1rem;
    }
    button.indexBtn.btn {
        margin: 1rem;
        font-size: inherit;
    }
    #signupUsername {
        margin-top: 1rem;
    }
    #signupForm {
        margin-top: 2rem;
    }
    .trip-item-name-descr {
        width: inherit;
        line-height: 1.2rem;
    }
    p {
        font-size: small;
    }
}

@media screen and (max-width: 900) {
    p {
        font-size: large;
    }
}
