#tripsPage {
    background-image: url(../images/dashbackground.jpg);
    background-size: cover;
    display: flex;
    height:100vh;
    width: 100vw;
}

#nav-bar {
    overflow: hidden;
    background-color: #4A4735;
}

.navbar a {
    text-decoration: none;
    font-size: 50px;
    color: #c57a3c;
}

.navbar a:hover {
    color: orange;
}

.navbar p {
    text-align: center;
    font-size: 50px;
    color: #c57a3c;
    display: block;
}

#logoutbtn {
    float: right;
    background-color: orange;
    width: 60px;
    height: 30px;
}

.myTrips {
    display: flex;
    flex-wrap:wrap;
    margin-left: 0px;
    justify-content: center;
}

.my-cards {
    height: 500px;
}

.my-cards:hover {
    opacity: .7;
}

.card-link {
    text-decoration: none;
    color: black;
}

#trip-card {
    width: 300px;
    height: 450px;
    margin: 50px;
    background-color: #9dacb7;
    border-style: solid;
    border-radius: 30px;
    font-size: 150%;
}

.card-head {
    text-align: center;
    background-color: #647c7c;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
    padding:10px
}

.card-body {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    /* height: 164px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px; */
}

.trip-location {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.trip-descrip {
    height:140px;
}

.trip-distance {
    height: 40px;

}

.trip-date {
    padding-top: 20px;
}

@media screen and (max-width: 2000px) {
    #tripsPage {
        height: inherit;
    }
}