#tripsPage {
    background-image: url(../images/dashbackground.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    display: flex;
}

#nav-bar {
    overflow: hidden;
    background-color: #4A4735;
}

.navbar {
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
    display: flex;
    background-color: #4A4735;
}

.navbar a {
    text-decoration: none;
    color: #c57a3c;
    font-size: 2rem;
}

.location {
    margin-bottom: 1.5rem;
}
.navbar a:hover {
    color: orange;
}

p {
    margin-bottom: 0;
}

.navbar p {
    text-align: center;
    color: #c57a3c;
    margin: 0 auto;
    font-size: 1.5rem;
}

.navlinks {
    padding: 1rem;
}

.mybtn {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

#logoutbtn {
    float: right;
    text-decoration: none;
    font-size: 50px;
    color: #c57a3c;
    margin-top: 0px;
    margin-right:30px;
    background-color: #4A4735;
    border: none;
}

#logoutbtn:hover{
    color: orange;
}

.myTrips {
    display: flex;
    flex-wrap:wrap;
    margin-left: 0px;
    justify-content: space-evenly;
}

.my-cards {
    height: 500px;
    display: grid;
}

#trip-card:hover {
    opacity: .7;
}

.card-link {
    text-decoration: none;
    color: black;
}
p.card-text.gear-weight {
    height: fit-content;
    color: red;
    margin-bottom: 1rem;
}
#trip-card {
    width: 300px;
    height: 450px;
    margin: 50px;
    background-color: #9dacb7;
    border-style: solid;
    border-radius: 30px;
    font-size: 150%;
    margin-top: 0;
}

.card-head {
    text-align: center;
    background-color: #647c7c;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-top-right-radius: 26px;
    border-top-left-radius: 26px;
    padding:10px
}

.card-header {
    text-align: center;
    font-size: 2rem;
}

.card-body {
    padding-left: 10px;
    padding-right: 10px;
}
p.card-text {

}

.trip-details {
    width: 100%;
}
.card.text-center {
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 17rem;
}

.trip-location {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.trip-descrip {
    height:140px;
}

.trip-distance {
    height: 40px;

}

.trip-date {
    padding-top: 20px;
}

@media screen and (max-width: 475px) {
    .dashmain {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .gear-form {
        display: flex;
        flex-wrap: wrap;
    }
    .gear-bank {
        width: 100%;
        order: 1;
    }
    #bag {
        order: 2;
        width: 100%;
    }
    #userinput {
        padding-top: 0px;
        width: 100%;
        margin: 0;
        order: 4;
    }
    button.btn.closet-button, button.save-trip-btn.btn, button.updater-button.btn{
        width: 80%;
        margin: 1rem auto;
        font-size: larger;
    }

    p.card-text.gear-weight {
        height: fit-content;
        color: red;
    }
    #categories-label {
        margin: auto;
    }
    .navlinks {
        padding: 0;
    }
    .navbar a, #logoutbtn {
        font-size: 1.2rem;
    }
    body {
        line-height: 1;
    }
    .second-box {
        width: 100%;
        margin-top: 0;
        order: 2;
    }
    #tripForm {
        padding: 0;
        margin-bottom: 2rem;
    }
    .new-trip-header {
        margin-bottom: 0;
        color: white;
        font-size: revert;
    }
    a:not([href]):not([tabindex]) {
        color: #c57a3c;
    }
    a:not([href]):not([tabindex]):hover {
        color: orange;
        cursor: pointer;
    }
    .mytrips {
        width: 100%;
    }
    #tripsPage {
        width: 100%;
    }
    #chartSize {
        margin: 0 auto;
        text-align: center;
        height: fit-content;
    }
    .trip-item-name-descr {
        width: auto;
        line-height: 1.2rem;
    }
    #tripsPage {
        height: inherit;
    }
}

@media screen and (max-width: 2000px) {
    #tripsPage {
        height: 100vh;
    }
}